<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <form action="index.php?op=userquery&svrid=<{$user_query_id}>" method="post" name="userquery">
      <{if $map_dl_link}>
        <td width="<{$width}>" align="center"><a href="index.php?op=maps"><{$_fqmapdllink}></a></td>
      <{/if}>
      <{if $user_query}>
        <td align="<{$align}>" width="<{$width}>"><{$_fqsvraddress}> : <input name="user_address" type="text"> <{$_fqsvrport}>: <input name="user_port" value="27015" type="text" size="6"> <input name="<{$_fqquery}>" type="submit" value="<{$_fqquery}>"></td>
      <{/if}>
      </form>
    </tr>
  </table>